<?xml version='1.0' encoding='utf-8'?>
<widget id="com.firasra.taal" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Taal</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="phonegap-plugin-barcodescanner" spec="~6.0.6" />
    <gap:config-file platform="ios" parent="NSCameraUsageDescription" overwrite="true">
       <string>We are using the Camera for something..</string>
    </gap:config-file>
</widget>
